[submodule "moon-cow-simple/entry-ashatch-alpha"]
	path = moon-cow-simple/entry-ashatch-alpha
	url = https://github.com/ashatch/testy-moon-cow-simple-alpha
[submodule "moon-cow-simple/entry-ashatch-beta"]
	path = moon-cow-simple/entry-ashatch-beta
	url = https://github.com/ashatch/testy-moon-cow-simple-beta
[submodule "moon-cow-simple/entry-blue-cow-moon-og"]
	path = moon-cow-simple/entry-blue-cow-moon-og
	url = https://github.com/nicholassmith/blue-cow-moon
[submodule "moon-cow-simple/entry-blue-cow-zero"]
	path = moon-cow-simple/entry-blue-cow-zero
	url = https://github.com/nicholassmith/blue-cow-zero
[submodule "moon-cow-simple/entry-moon-cow-bnealon"]
	path = moon-cow-simple/entry-moon-cow-bnealon
	url = https://github.com/bennealon/entry-moon-cow-bnealon
[submodule "moon-cow-simple/entry-python-cheesy-bacon"]
	path = moon-cow-simple/entry-python-cheesy-bacon
	url = https://github.com/Benj0s/testy-moon-cow-python-cheesy-bacon
[submodule "moon-cow-simple/entry-bash-swearword"]
	path = moon-cow-simple/entry-bash-swearword
	url = https://github.com/easen-amp/bash-swearword-blue-moon-cow
[submodule "moon-cow-simple/entry-vova-dubrova"]
	path = moon-cow-simple/entry-vova-dubrova
	url = https://github.com/igoodkit/entry-vova-dubrova
[submodule "moon-cow-simple/entry-easen-amp-php-urban-dictionary"]
	path = moon-cow-simple/entry-easen-amp-php-urban-dictionary
	url = https://github.com/easen-amp/php-urban-dictionary-moon-cow
[submodule "moon-cow-simple/entry-es-docker-inspired"]
	path = moon-cow-simple/entry-es-docker-inspired
	url = https://github.com/ewansteele/3-name-gen
